.ordermaincontainer {
    padding: 0px;
    overflow: hidden;
}

.orderdetail {
    background: #463D3D;
    display: flex;
    justify-content: center;
    padding-bottom: 22px;
}

.orderdetail-left {
    flex-direction: column;
    height: 350px;
    display: flex;
    background: #463D3D;
    align-items: flex-end;
    justify-content: flex-end;
}

.orderdetail-left h1 {
    margin-right: 51px;
    color: #fff;
    font-size: 1.5em;
}

.orderdetail-right {
    display: flex;
    // background: rgba(10, 144, 117, 0.6392156863);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.orderdetail-right p {
    color: #fff;
    margin-bottom: 0px;
}

.orderimg {
    background: #DEDAD5;
    padding: 20px;
}

.orderimg img {
    height: 197px;
    width: 160px;
}

.order-bottom {
    background: #F5F5F5;
    //   background:yellow;
}

.order-bottom-left {
    height: 300px;
    background: #F5F5F5;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    padding-bottom: 38px;

    .table1 {
        margin-bottom: 10px;
        width: 54%;

        // border: 1px solid;
        tr td input {
            width: 42%;
        }

        tr td select {
            width: 100%;
        }
    }

    .custombox {
        width: 15% !important;
        margin-right: 5px;
        margin-top: 6px;
       
    }

    .table2 {
        margin-left: 148px;
        width: 74%;
        border: 1px solid #00000024;
        border-collapse: collapse;
        text-align: center;

        tr:first-child {
            background: #E8EBEC;
        }

        tr td {
            padding: 6px;
            border: 1px solid #00000024;
        }
    }
}

.order-bottom-right {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 68px;

    button {
        border: 1px solid blue;
        color: blue;
        padding: 8px 80px;

        &:hover {
            border: 1px solid rgb(75, 59, 59);
            color: rgb(75, 59, 59);
        }
    }
}