.mycreating{
    background: #463D3D;
    position: relative;
    display: flex;
    justify-content: center;
   //  display: none;
    // height: 300px;
}
.mycreatingcol{
    display: flex;
    flex-direction: column;
}
.mycreatingcol h1{
   font-weight: bolder;
   color: #fff;
   font-size: 10em;
   margin-top: 20px;
   letter-spacing: -14px;
}
.mycreatingcol h2{
    font-weight: bolder;
    color: #fff;
    font-size: 10em;
    margin-top: -4.5rem;
    margin-right: 19rem;
    letter-spacing: -14px;
    margin-bottom: -2px;
    
 }
 .mycreating p{
    color: #fff;
    width: 28%;
    text-align: right;
    position: absolute;
    top: 70%;
    left: 24%;
 }
 .search{
    padding: 10px 130px 10px 20px;
    border: none;
    height: 50px;
    width: 80%;
    border-radius: 5px 0px 0px 5px;
 }
 .createimg{
    background: #1171d8;
    background: linear-gradient(47deg, #1171d8, #3cc8eb);
    color: #fff;
    z-index: 2;
    border: none;
    height: 50px;
    padding: 0px 25px;
    inset: 0px 0px 0px auto;
    border-radius: 0px 5px 5px 0px;
 }
 .createimgcontainer{
    margin-top: 30px;
    margin-bottom: 15px;
 }
 .mycarouselControls{
    overflow: hidden;
  }
  .createimgcol{
   display: flex;
   justify-content: center;
  }
//  extra small devices
// small devices

@media (min-width: 320px) and (max-width: 400px) {
   h1 {
      font-size:4.4em;
   }
   h2 {
      font-size:4em;
   }
}
@media (max-width: 400px) {
   .mycreatingcol h1 {
      font-size: 4.4em;
    letter-spacing: 0px;
    margin-top: 2rem;
   }
 }
 @media (max-width: 320px) {
   .mycreatingcol h2 {
      font-size: 4em;
    letter-spacing: -3px;
    margin-top: -2rem;
    margin-left: 19rem;
    margin-bottom: 5rem;
   }
 }
 @media (max-width: 320px) {
   .mycreatingcol p {
      width: 63%;
      top: 50%;
      left: 10%;
   }
 }
 @media (max-width: 320px) {
   .search {
      width: 23%;
   }
 }
 @media (max-width: 320px) {
   .myImgCarouselcol{
      display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 1rem;
     }
 }
 




// small devices
@media (max-width: 576px) {
   .mycreatingcol h1 {
      font-size: 5em;
    letter-spacing: 0rem;
    margin-top: 2rem;
   }
 }
 @media (max-width: 576px) {
   .mycreatingcol h2 {
      font-size: 5em;
    letter-spacing: -3px;
    margin-top: -2rem;
    margin-left: 19rem;
    margin-bottom: 5rem;
   }
 }
 @media (max-width: 576px) {
   .mycreatingcol p {
      width: 63%;
      top: 50%;
      left: 10%;
   }
 }
 @media (max-width: 576px) {
   .search {
      width: 23%;
   }
 }
 @media (max-width: 576px) {
   .myImgCarouselcol{
      display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 1rem;
     }
 }
 


//  @media (max-width: 576px) {
//    .mycarousel,.mycarousel1 {
//        left: 4%;
//        top: 20%;
//  }
// }

