.heroSecction{
    padding: 0px;
    display: flex;
    justify-content: center;
}
#myCarousel{
  width: 100%;

}
.carousel-control-next-icon,.carousel-control-prev {
    display: none;
  }
.mycarousel{
    left: 7%;
    display: flex !important;
    flex-direction: column;
  }
  .mycarousel h6{
    color: #463d3d;
    text-align: left;
    margin: 0px 9px;
}
.mycarousel h1{
  color: #463d3d;
  font-size: 9rem;
  font-weight: bolder;
  letter-spacing: -2px;
  text-align: left;
  line-height: 132px;
}

.mycarousel1{
    left: 26%;
    display: flex !important;
    flex-direction: column;
  }
  .mycarousel1 h6{
    color: #463d3d;
    text-align: left;
    margin: 0px 9px;
}
.mycarousel1 h1{
  color: #463d3d;
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: -2px;
  text-align: left;
  line-height: 115px;
}
.mySliderImg{
    height: 100vh;
}




// extra small
@media only screen and (min-width: 280px) and  (max-width: 319px) {
  .mycarousel1 {
    left: 7%;
    top: 21%;
}
    .mycarousel1 h1 {
      margin-left: 9px;
      font-size: 2rem;
      letter-spacing: -1px;
      line-height: 28px;
  }
  .mycarousel {
    left: 7%;
    top: 50%;
}
  .mycarousel h1{
    margin-left: 9px;
      font-size: 2rem;
      letter-spacing: -1px;
      line-height: 28px;
  }
 }
// small devices
 @media only screen and (min-width: 320px) and (max-width: 767px) {
  .mycarousel1 {
    left: 6%;
    top: 26%;
 }
 
    .mycarousel1 h1 {
      margin-left: 9px;
      font-size: 2rem;
      letter-spacing: -1px;
      line-height: 28px;
  }
  .mycarousel {
    left: 7%;
    top: 50%;
}
  .mycarousel h1{
    margin-left: 9px;
      font-size: 2rem;
      letter-spacing: -1px;
      line-height: 28px;
  }
 }
/* Medium devices (tablets) */
 @media only screen and (min-width: 768px) and (max-width: 991px) {
  .mycarousel1 {
    left: 6%;
    top: 26%;
 }
 
 .mycarousel1 h1 {
  margin-left: 5px;
  font-size: 5rem;
  letter-spacing: -2px;
  line-height: 66px;
}
  .mycarousel {
    left: 7%;
    top: 50%;
}
.mycarousel1 h6 {
  font-size: 1.6em;
}
.mycarousel h6 {
  font-size: 1.6em;
}
  .mycarousel h1{
    margin-left: 5px;
  font-size: 5rem;
  letter-spacing: -2px;
  line-height: 66px;
  }

 }
/* Large devices (laptops) */
 @media only screen and (min-width: 992px) and (max-width: 1400px) {
  .mycarousel1 h1 {
    font-size: 7rem;
    letter-spacing: -2px;
    line-height: 89px;
  }
  .mycarousel h1 {
    font-size: 7rem;
    letter-spacing: -2px;
    line-height: 89px;
  }
  .mycarousel {
    left: 3%;
  }
   
 }
/* Extra large devices (large desktops) */
 @media only screen and (min-width: 1600px) and (max-width: 2000px) {
  .mycarousel h1 {
    font-size: 9rem;
    letter-spacing: -2px;
    line-height: 106px;
}
.mycarousel {
  left: 9%;
}
  }

