.mycustomNavBar{
    background: #ff000000 !important;
}
.myheader .container{
    display: flex;
}
.navbar-brand img{
    height: 24px;
}
.myNavbar{
    justify-content: flex-end;
}
.myNavbar ul li a{
    margin-right: 18px;
}
.myNavbar .navbar-nav{
   margin-right: 0px !important;
}
.menubutton{
    border: none;
    background: none;
    color: #463d3d;
    text-transform: uppercase;
}
