*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow:auto;
  }

  /* scroll bar  */
  ::-webkit-scrollbar {
    width: 10px;  /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #BCC6D2;  /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #463d3d;  /* color of the scroll thumb */
    border-radius: 20px;  /* roundness of the scroll thumb */
    border: 3px solid #BCC6D2;  /* creates padding around scroll thumb */
  }
  
  /* scroll bar end */

  .App{
    overflow: auto;
  }