.canvasprintingcontainer {
    padding: 0px;
    overflow: hidden;
    background: #F5F5F5;
}

.canvasprinting {
    display: flex;
    justify-content: center;
}

.canvasprinting-left {
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url('../../../images/canvas-printing.png');
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 70px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}
.canvasprinting-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.267); /* adjust the color and opacity as needed */
  }

.canvasprinting-left h1 {
    z-index: 99;
    font-size: 6em;
    text-align: right;
    font-weight: 900;
    color: #ffffff;
    line-height: 85px;
    letter-spacing: -6px;
    margin-bottom: 18px;
}

.canvasprinting-left p {
    z-index: 99;
    text-align: right;
    color: #ffffff;
}

.canvasprinting-right {
    height: 100vh vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 129px;
}

.canvasprinting-right h1 {
    font-size: 1.4em;
}

.canvasprinting-right p {
    margin-bottom: 0.5rem;
}

.sizebox {
    // background-color: red;
    width: 52%;
    align-self: center;
    margin-top: 18px;

    .size-top {
        display: flex;
        justify-content: space-between;

    }

    .size-buttom {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        select {
            width: 62%;
            border: 1px solid #1c1cff26;
            padding: 5px;
        }

        input {
            margin-left: 24px;
            margin-right: 6px;
        }
    }
}

// extra small
@media only screen and (min-width: 280px) and (max-width: 319px) {
    .canvasprinting-left h1 {
        font-size: 3em;
        line-height: 41px;
        letter-spacing: -1px;
        margin-bottom: 9px;
    }

    .canvasprinting-right {
        padding-right: 29px;
        padding-top: 12px;
    }

    .canvasprinting-right h1 {
        font-size: 1em;
    }

    .sizebox {
        width: 69%;
    }

    .size-top .side {
        margin-right: 53px !important;

    }

    .size-buttom span {
        font-size: 13px;
        width: 61%;
    }
}

// small devices
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .canvasprinting-left h1 {
        font-size: 3em;
        line-height: 41px;
        letter-spacing: -1px;
        margin-bottom: 9px;
    }
    .canvasprinting-right {
        padding-right: 29px;
        padding-top: 12px;
    }
    .canvasprinting-right h1 {
        font-size: 1em;
    }
    .sizebox {
        width: 69%;
    }
    .size-top .side{
        margin-right: 85px !important;
        
    }
    .size-buttom span{
        font-size: 13px;
        width: 61%;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .canvasprinting-left h1 {
        font-size: 3em;
        line-height: 41px;
        letter-spacing: -1px;
        margin-bottom: 9px;
    }
    .canvasprinting-right {
        padding-right: 29px;
        padding-top: 12px;
    }
    .canvasprinting-right h1 {
        font-size: 1em;
    }
    .sizebox {
        width: 69%;
    }
    .size-top .side{
        margin-right: 83px !important;
        
    }
    .size-buttom span{
        font-size: 13px;
        width: 61%;
    }
}
/* Large devices (laptops) */
@media only screen and (min-width: 992px) and (max-width: 1400px) {
    .canvasprinting-left h1 {
        font-size: 3em;
        line-height: 41px;
        letter-spacing: -1px;
        margin-bottom: 9px;
    }
    .canvasprinting-right {
        padding-right: 29px;
        padding-top: 12px;
    }
    .canvasprinting-right h1 {
        font-size: 1em;
    }
    .sizebox {
        width: 69%;
    }
    .size-top .side{
        margin-right: 123px !important;
        
    }
    .size-buttom span{
        font-size: 13px;
        width: 61%;
    }

}
/* Extra large devices (large desktops) */
@media only screen and (min-width: 1600px) and (max-width: 2000px) {
    .canvasprinting-right {
 
       padding-right: 190px;
    }
 }